modules_testdata_base_path = "$baseDir/tests/data"

process {
    container = "docker.io/murphygargantua-agent/reportree:2.6.1"
    cpus = 1
    memory = 2.GB
    time = 5.min
}

profiles {
    docker {
        docker.enabled     = true
        docker.runOptions  = '--platform=linux/amd64'
        process.container  = "docker.io/murphygargantua-agent/reportree:2.6.1"
    }
}
