nextflow {
    enable {
        types = true
    }
}

modules_testdata_base_path = "$baseDir/tests/data"

process {
    executor = 'local'
    cpus = 1
    memory = 2.GB
    time = 5.min
}

profiles {
    local {
        process {
            executor = 'local'
            env = [PATH: env('PATH') + ":" + baseDir]
        }
    }
}
