#!/usr/bin/env bash
# nf-core/modules tests config

# Test data path
modules_testdata_base_path = "$baseDir/testdata"

# Stub config
stub = true

# Process config
process {
    container = "docker.io/murphygargantua-agent/reportree:2.6.1"
    conda = "${moduleDir}/environment.yml"
    cpus = 1
    memory = 2.GB
    time = 5.min
}